[run] 
omit = 
    enocean_async/eep/db.py
    enocean_async/eep/manufacturer.py
    enocean_async/eep/message.py
    enocean_async/eep/profily.py
    enocean_async/erp1/errors.py
    enocean_async/erp1/rorg.py
    enocean_async/version/id.py 
    enocean_async/version/info.py
    enocean_async/**/__init__.py